.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Fly to Cart Animation */
@keyframes flyToCart {
  0% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0.1) translate(40vw, -40vh); /* Adjust based on cart position */
  }
}

.fly-item {
  position: fixed;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
  animation: flyToCart 0.8s ease-in-out forwards;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}